body{
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background: linear-gradient(
            rgba(240, 240, 240, 0.144),
            rgba(255, 255, 255, 0.336)
    ),
    url("images/10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*:focus{
    outline: none;
}
.box{
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  border: 2px soild ;
  box-shadow: -3px -3px 7px #ffffff73,
             -3px -3px 5px (94,104,121,0m288);
 border-radius: 5px;
  background: #abe0d5;
  margin-top: 50px;
  overflow:hidden;
  margin-top: 50px;
}
img{
    box-sizing: border-box;
  width: 149px;
  height: 149px;
  border-radius: 5px solid #0082e6;
  padding: 3px;
  background-color: white;
  transition: all 1s;

}
input[type="text"],
input[type="email"]{
    display: block;
    box-sizing: border-box;
    background-color:none;
    color: #3498db;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6 ;
    font-family: 'tasneem', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="text"]{
    margin-top: 25px;
}

input[type="text"]:focus,
input[type="email"]:focus{
    border-bottom: 1px solid #0082e6 ;
    border-bottom-right-radius:20px ;
    color: #3498db;
    transition: 0.2s ease;
}
button {
    height: 30px;
    width: 100px;
    background: #abe0d5;
    border: 1px solid ;
    color: white;
    border-radius: 5px;
    margin: 0px;
    transition:all  0.3s ; 
}

button:hover {
    transform: scale(1.1);
    background: #497a71;
}
input[type="file"]{
    display: none;
}
label{
    box-sizing: border-box;
    background: #abe0d5;
    color: white;
    font-size: 20px;
    border: 1px solid ;
    border-radius: 5px;
    padding: 2px 15px;
    transition:all  0.3s ; 
}
label:hover{
    background: #497a71; 
}




